<footer class="main-footer">
    <div class="container">
        <div class="row main-footer__map-row">
            <div class="col-md-3 col-sm-4">
                <div class="main-footer__secure-wrap hidden-xs"><a class="main-footer__secure-link" href="#!"><img class="main-footer__secure-img" src="{{ asset('images/mcafee.png') }}" alt=""></a><a class="main-footer__secure-link" href="#!"><img class="main-footer__secure-img" src="{{ asset('images/norton.png') }}" alt=""></a></div>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <h5 class="main-footer__nav-list-title">MENU</h5>
                <ul class="main-footer__nav-list">
                    <li class="main-footer__nav-list-li"><a class="main-footer__nav-list-link" href="#!">Home</a></li>
                </ul>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <h5 class="main-footer__nav-list-title">USEFUL LINKS</h5>
                <ul class="main-footer__nav-list">
                    <li class="main-footer__nav-list-li"><a class="main-footer__nav-list-link" href="#!">Search</a></li>
                    <li class="main-footer__nav-list-li"><a class="main-footer__nav-list-link" href="#!">Blog</a></li>
                    <li class="main-footer__nav-list-li"><a class="main-footer__nav-list-link" href="#!">Useful infromation</a></li>
                    <li class="main-footer__nav-list-li"><a class="main-footer__nav-list-link" href="#!">Publications</a></li>
                    <li class="main-footer__nav-list-li"><a class="main-footer__nav-list-link" href="#!">Terms of use</a></li>
                </ul>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <h5 class="main-footer__nav-list-title">SUPPORT & CONTACTS</h5>
                <ul class="main-footer__nav-list">
                    <li class="main-footer__nav-list-li"><a class="main-footer__nav-list-link" href="#!">Support</a></li>
                    <li class="main-footer__nav-list-li"><a class="main-footer__nav-list-link" href="#!">FAQ</a></li>
                </ul>
                <h6 class="main-footer__address-title">Adress:</h6>
                <p class="main-footer__address-text">localhost</p>
                <h6 class="main-footer__address-title">Email:</h6>
                <p class="main-footer__address-text"><a class="main-text__link" href="mailto:support@localhost">support@localhost</a></p>
            </div>
        </div>
    </div>
    <div class="main-footer__copyright-wrap clearfix">
        <div class="col-md-6 col-sm-7 bg-purple-900">
            <div class="row">
                <div class="col-lg-8 col-lg-push-4">
                    <div class="main-footer__copyright-block">
                        <p class="main-footer__copyright-text">© Skeleton 2018. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 bg-white">
            <div class="row">
                <div class="col-lg-8">
                    <div class="main-footer__social-block"><span class="main-footer__social-text hidden-sm hidden-xs">Follow us:</span>
                        <nav class="main-footer__social-list"><a class="main-footer__social-link main-footer__social-link--facebook" href="#!"><i class="fa fa-facebook"></i></a><a class="main-footer__social-link main-footer__social-link--twitter" href="#!"><i class="fa fa-twitter"></i></a><a class="main-footer__social-link main-footer__social-link--instagram" href="#!"><i class="fa fa-instagram"></i></a><a class="main-footer__social-link main-footer__social-link--google-plus" href="#!"><i class="fa fa-google-plus"></i></a><a class="main-footer__social-link main-footer__social-link--youtube" href="#!"><i class="fa fa-youtube-play"></i></a><a class="main-footer__social-link main-footer__social-link--pinterest" href="#!"><i class="fa fa-pinterest"></i></a><a class="main-footer__social-link main-footer__social-link--vk" href="#!"><i class="fa fa-vkontakte"></i></a></nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="main-footer__scrolltop-btn" type="button"><i class="fa fa-up-big"></i></button>
    <button class="main-footer__support-btn" type="button"><i class="fa fa-life-ring main-footer__support-btn-ico"></i>Live Support</button>
</footer>