{% extends './layout/main.html.twig' %}
{% block localJS %}
    <script type="text/javascript" src="{{ asset('js/index.js') }}"></script>
{% endblock %}

{% block localCSS %}
    <link rel="stylesheet" href="{{ asset('css/index.scss') }}">
{% endblock %}


<div class="wrapper">

{% block left %}
    {% include './blocks/index__form.html.twig' %}
{% endblock %}

</div>




{% block footer %}
    {% include './blocks/footer.html.twig' %}
{% endblock %}