{% extends './layout/main.html.twig' %}

{% block header %}
    {% include './blocks/main_header.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Terms and conditions content text</h1>
{% endblock %}

{% block footer %}
    {% include './blocks/footer.html.twig' %}
{% endblock %}